NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_NAIROBI_DELIVERY_RATE=250
NEXT_PUBLIC_NATIONWIDE_DELIVERY_RATE=600
NEXT_PUBLIC_LOW_STOCK_THRESHOLD=3
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_IPN_URL=
